# Celo Network Configuration
VITE_CELO_NETWORK=sepolia
VITE_CELO_RPC_URL=https://forno.celo-sepolia.celo-testnet.org
VITE_CHAIN_ID=11142220
VITE_CONTRACT_ADDRESS=0xba5f7756a16ce91123B22CE18B434C9d839b5438
VITE_CUSD_ADDRESS=0xEF4d55D6dE8e8d73232827Cd1e9b2F2dBb45bC80
